.contactoContainer {
    background:
        linear-gradient(rgba(0, 0, 0, 0.9), transparent),
        url("../imagenes/imagenPoliticas.jpg");
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Barlow Condensed', sans-serif;




    .heroContacto {

        padding-top: calc(var(--padding-top) + 70px);
        /*Para que la info no quede debajo de la navBar  */

        div {
            display: flex;

            justify-content: left;

            h1 {

                padding-left: 35px;
                padding-bottom: 20px;
                padding-top: 0;
                text-align: justify;
                width: 50%;
                color: $blanco;
                font-size: 25px;
                font-family: 'Barlow Condensed', sans-serif;


            }
        }
    }


    .contactoContainer__infoUsuario {
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: center;
        padding: 10px 50px 20px 0px;
        color: $blanco;
        width: 100%;
        

        h2 {
            font-size: 25px;
            // padding-top: 15px;
            text-align: left;
            padding-left: 65px;
            font-family: 'Barlow Condensed', sans-serif;

        }

        .contactoContainer__datos {
            grid-column: 1;
            display: grid;
            grid-template-rows: 1fr 1fr;
            padding: 10px;

            // box-shadow: 7px 13px 37px $negro;
            background-color: transparent;


            .infoUsuario {
                grid-column: 1;
                width: fit-content;
                height: fit-content;
            }

            input {
                font-size: 17px;
                margin: 20px;
                padding: 8px;
                font-family: 'Barlow Condensed', sans-serif;

                text-transform: uppercase;
                border: 0;
                border-bottom: 1px solid black;
                background-color: transparent;

                &::placeholder {
                    color: black;
                    text-transform: capitalize;
                    font-family: 'Barlow Condensed', sans-serif;

                }
            }

        }

        .recuadroMensaje {
            height: fit-content;
            grid-column: 1;
            width: fit-content;
            padding-bottom: 20px;
            padding: 10px;
            padding-left: 45px;

            .input-mensaje {
                height: fit-content;
                width: fit-content;
                grid-column: 2;
                font-size: 17px;
                padding: 8px;
                padding-bottom: 90px;
                margin: 20px;
                font-family: 'Barlow Condensed', sans-serif;

                text-transform: uppercase;
                border: 0;
                border-bottom: 1px solid black;
                background-color: transparent;

                &::placeholder {
                    color: black;
                    text-transform: capitalize;
                    font-family: 'Barlow Condensed', sans-serif;



                }


            }

        }

        .fila1 {
            grid-row: 1;
        }

        .fila2 {
            grid-row: 2;
        }

    }

    div {
        display: flex;
        justify-content: left;
        padding-left: 32px;


        .botonFormulario {
            font-size: 21px;
            font-family: 'Barlow Condensed', sans-serif;
            text-transform: uppercase;
            @extend .propiedadesBotones;
            padding: 15px;
            cursor: pointer;
            margin-left: 30px;
            margin-bottom: 40px;



            &:hover {
                opacity: .5;
            }
        }
    }
}




/* VERSION MOBILE --------  */

@media (max-width: 576px) {

    .contactoContainer {
        background:
            linear-gradient(rgba(0, 0, 0, 0.9), transparent),
            url("../imagenes/imagenPoliticas.jpg");
        background-position:  70%;
        background-repeat: no-repeat;
        background-size: cover;
        

        .heroContacto {

            padding: 50px 40px;

            div {
                display: flex;
                padding-left: 0px;
                justify-content: left;

                h1 {

                    padding-left: 0;
                    padding-bottom: 0px;
                    padding-top: 0;
                    text-align: justify;
                    width: 100%;
                    color: $blanco;
                    font-size: 25px;
                    font-family: 'Barlow Condensed', sans-serif;


                }
            }
        }


        .contactoContainer__infoUsuario {
            
            text-align: center;
            padding: 10px 0px 20px 0px;
            color: $blanco;
            width: 100%;
            display: flex;
        flex-direction: column;
        

            h2 {
                font-size: 25px;
                // padding-top: 15px;
                text-align: center;
                padding-left: 0px;
                font-family: 'Barlow Condensed', sans-serif;
                width: 100%;
                color: white;

            }

            .contactoContainer__datos {
               
                padding: 20px;
                background-color: transparent;

                .infoUsuario {
                    text-align: center;
                    width: 100%;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    font-size: 20px;
                    
                    
                }

                input {
                    font-size: 17px;
                    margin: 20px;
                    padding: 8px;
                    font-family: 'Barlow Condensed', sans-serif;
                    
                    text-transform: uppercase;
                    border: 0;
                    border-bottom: 1px solid white;
                    background-color: transparent;

                    &::placeholder {
                        color: black;
                        text-transform: capitalize;
                        font-family: 'Barlow Condensed', sans-serif;

                    }
                }

            }

            .recuadroMensaje {
                height: fit-content;
                grid-column: 1;
                width: fit-content;
                padding-bottom: 20px;
                padding: 10px;
                padding-left: 25px;

                .input-mensaje {
                    height: fit-content;
                    width: fit-content;
                    
                    font-size: 20px;
                    padding: 8px;
                    padding-bottom: 90px;
                    margin: 20px;
                    font-family: 'Barlow Condensed', sans-serif;

                    text-transform: uppercase;
                    border: 0;
                    border-bottom: 1px solid white;
                    background-color: transparent;

                    &::placeholder {
                        color: black;
                        text-transform: capitalize;
                        font-family: 'Barlow Condensed', sans-serif;



                    }


                }

            }

            .fila1 {
                grid-row: 1;
            }

            .fila2 {
                grid-row: 2;
            }

        }

        div {
            display: flex;
            justify-content: left;
            padding-left: 32px;


            .botonFormulario {
                font-size: 21px;
                font-family: 'Barlow Condensed', sans-serif;
                text-transform: uppercase;
                color: white;
                background-color: orangered;
                border-radius: var(--radio-border);
                border: 0px;
                padding: 15px;
                cursor: pointer;
                margin-left: 30px;
                margin-bottom: 40px;



                &:hover {
                    opacity: .5;
                }
            }
        }
    }






}