.dulcesContainer {
    padding-top: var(--padding-top);
    /*Para que la info no quede debajo de la navBar */
    display: grid;
    grid-template-columns: 15% 85%;


    .dulcesContainer__barraIzquierda {
        grid-column: 1;
        padding-top: 50px;
        padding-left: 20px;
        background-color: $beige;
        

        ul {
            list-style: none;
            line-height: 40px;
            font-size: 20px;
        
        }
    }

    .dulcesContainer__productos {

        img {
            
            width: 100%;
            

        }
        .imagen230{
            width: 200px;
            
        }

        .dulcesContainer__titulo-mobile{
            display: none;
        }

        .dulcesContainer__primeraFila,
        .dulcesContainer__segundaFila {

            grid-column: 2;
            display: flex;
            justify-content: space-evenly;
            padding: 50px 10px 40px 10px;


            .dulcesContainer__productos--item {
                
                @extend .propiedades-productos-items;
                display: grid;
                grid-template-rows: 40% 20% 10% 30%;
                a{
                    grid-row: 1;
                    text-decoration: none;
                    color: black;
                }
                h2 {
                    
                    font-size: 25px;
                    grid-row: 2;
                    text-transform: capitalize;
                    padding: 20px 12px 0px;
                    margin: 0;
                    
                }

                p {
                    
                    font-size: 20px;
                    color: $rojo;
                    grid-row: 3;
                    margin: auto;
                    
                }

                .dulcesContainer__productos--boton {

                    justify-content: center;
                    grid-row: 4;
                    margin: auto;
                    button {
                        font-size: 20px;
                        padding: 16px;
                        @extend .propiedadesBotones;
                        cursor: pointer;
                        text-transform: uppercase;
                        font-family: 'Barlow Condensed', sans-serif;
                        border-color: $anaranjado;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }

        .dulcesContainer__primeraFila {
            padding-bottom: 0;
        }




    }
}



/* VERSION MOBILE --------  */

@media (max-width: 576px) {

    .desktopCabecera,
    .productosSaludables {
        display: none;
    }

    .dulcesContainer {
        // padding-top: var(--padding-top);
        /*Para que la info no quede debajo de la navBar */
        display: flex;
        padding-top: 50px;
        flex-wrap: wrap;
        
    
    
        .dulcesContainer__barraIzquierda {
            
            display: none;
        }
    
        .dulcesContainer__productos {
    
            img {
                
                
                width: 100%;
                margin-top: 10px;
                height: 200px;
                
    
            }
            .imagen230{
                width: 90%;
                
            }
            
            .dulcesContainer__titulo-mobile{
                display: block;
                font-family: 'Barlow Condensed', sans-serif;
                text-align: center;
                font-size: 30px;
                padding-bottom: 50px;
            }

            .dulcesContainer__primeraFila,
            .dulcesContainer__segundaFila {
    
                padding: 0;
                margin: 0;
                width: 100%;
                
                flex-wrap: wrap;
                justify-content: flex-start;
    
    
                .dulcesContainer__productos--item {
                    
                    width: 50%;
                    /* display: grid;
                    grid-template-rows: 40% 20% 10% 30%; */

                    a{
                        //grid-row: 1;
                        text-decoration: none;
                        color: black;
                    }
                    h2 {
                        
                        font-size: 20px;
                       // grid-row: 2;
                        text-transform: capitalize;
                       /*  padding: 20px 12px 0px;
                        margin: 0; */
                        
                    }
    
                    p {
                        
                        font-size: 20px;
                        color: $rojo;
                       // grid-row: 3;
                        //margin: auto;
                        
                    }
    
                    .dulcesContainer__productos--boton {
    
                        justify-content: center;
                        //grid-row: 4;
                        margin: auto;
                        button {
                            font-size: 20px;
                            padding: 16px;
                            
                            
                            text-transform: uppercase;
                            font-family: 'Barlow Condensed', sans-serif;
                            border-color: $anaranjado;
    
                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
    
            .dulcesContainer__primeraFila {
                padding-bottom: 0;
            }
            .dulcesContainer__segundaFila {
                padding-bottom: 50px;
            }
    
    
    
    
        }
    }


    .combos__dulces {
        font-size: 12.8px;
        display: flex;
        flex-direction: column;
        text-align: center;

        h2 {
            padding-bottom: 16px;
        }

        button {
            font-size: 20px;
            padding: 15px;
            border-color: $anaranjado;
        }
    }



}