.proximamenteContainer {


    .proximamenteContainer__background {
        background:
            linear-gradient(rgba(0, 0, 0, 0.9), transparent),
            url("/imagenes/proximamente/colorful-sweets-with-copy-space\ \(1\).jpg");
        background-position: left 70%;
        background-repeat: no-repeat;
        background-size: cover;

        height: 15rem;

        h1 {
            color: white;
            font-size: 50px;
            padding-top: calc(var(--padding-top) + 70px);
            /*Para que la info no quede debajo de la navBar */
            margin-left: 10rem;
        }
    }

    .proximamenteContainer__productos {
        width: 100%;

        .proximamenteContainer__primeraFila,
        .proximamenteContainer__segundaFila {

            display: flex;
            justify-content: space-evenly;
            padding: 50px 10px 40px 10px;


            .proximamenteContainer__productos--item {

                width: 280px;
                border: 1px #d3d3d3 solid;
                text-align: center;
                height: 450px;

                .sticker {
                    width: 130px;
                    position: relative;
                    top: -100px;
                    display: inline-block;
                    margin-left: 150px;
                    transform: rotate(36deg)
                }


                img {
                    width: 250px;
                    margin-top: 20px;
                }

                h2 {
                    font-size: 25px;
                    text-transform: capitalize;
                    padding: 20px 25px 0px;
                    margin: 0;
                    position: relative;
                    top: -100px;

                }




            }
        }

        .proximamenteContainer__primeraFila {
            padding-bottom: 0;
        }




    }
}