/* .heroSaludables {
    background:
        linear-gradient(rgba(0, 0, 0, 0.9), transparent),
        url("../imagenes/saludables/frutosSecos.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    /* height: 15rem;
    padding-top: 100px; */
    /*Para que la info no quede debajo de la navBar */

    
 // } 

.saludablesContainer {
    // padding-top: var(--padding-top);
    /*Para que la info no quede debajo de la navBar */
    display: flex;
    padding-top: 100px;
    


    .saludablesContainer__barraIzquierda {
        
        padding-top: 50px;
        padding-left: 20px;
        background-color: $beige;
        

        ul {
            list-style: none;
            line-height: 40px;
            font-size: 20px;
        
        }
    }

    .saludablesContainer__productos {

        img {
            
            
            width: 210px;
            margin-top: 10px;
            

        }
        

        .saludablesContainer__primeraFila,
        .saludablesContainer__segundaFila {

            
            display: flex;
            justify-content: space-evenly;
            padding: 50px 10px 40px 10px;


            .saludablesContainer__productos--item {
                
                @extend .propiedades-productos-items;
                display: grid;
                grid-template-rows: 40% 20% 10% 30%;
                a{
                    grid-row: 1;
                    text-decoration: none;
                    color: black;
                }
                h2 {
                    
                    font-size: 25px;
                    grid-row: 2;
                    text-transform: capitalize;
                    padding: 20px 12px 0px;
                    margin: 0;
                    
                }

                p {
                    
                    font-size: 20px;
                    color: $rojo;
                    grid-row: 3;
                    margin: auto;
                    
                }

                .saludablesContainer__productos--boton {

                    justify-content: center;
                    grid-row: 4;
                    margin: auto;
                    button {
                        font-size: 20px;
                        padding: 16px;
                        @extend .propiedadesBotones;
                        cursor: pointer;
                        text-transform: uppercase;
                        font-family: 'Barlow Condensed', sans-serif;
                        border-color: $anaranjado;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }

        .saludablesContainer__primeraFila {
            padding-bottom: 0;
        }




    }
}




.combos__saludables {
    background-color: $negro;
    display: flex;
    justify-content: space-evenly;
    padding: 48px;
    align-items: center;

    h2 {
        color: $blanco;
    }

    button {
        font-size: 20px;
        padding: 15px;
        @extend .propiedadesBotones;
        
        cursor: pointer;
        

        &:hover {
            opacity: .8;
        }
    }
}

/* VERSION MOBILE --------  */

@media (max-width: 576px) {

    .desktopCabecera,
    .productosSaludables {
        display: none;
    }

    .saludablesContainer {
        // padding-top: var(--padding-top);
        /*Para que la info no quede debajo de la navBar */
        display: flex;
        padding-top: 100px;
        flex-wrap: wrap;
        
    
    
        .saludablesContainer__barraIzquierda {
            
            display: none;
        }
    
        .saludablesContainer__productos {
    
            img {
                
                
                width: 100%;
                margin-top: 10px;
                height: 200px;
                
    
            }
            
    
            .saludablesContainer__primeraFila,
            .saludablesContainer__segundaFila {
    
                padding: 0;
                margin: 0;
                width: 100%;
                
                flex-wrap: wrap;
                justify-content: flex-start;
    
    
                .saludablesContainer__productos--item {
                    
                    width: 50%;
                    /* display: grid;
                    grid-template-rows: 40% 20% 10% 30%; */

                    a{
                        //grid-row: 1;
                        text-decoration: none;
                        color: black;
                    }
                    h2 {
                        
                        font-size: 20px;
                       // grid-row: 2;
                        text-transform: capitalize;
                       /*  padding: 20px 12px 0px;
                        margin: 0; */
                        
                    }
    
                    p {
                        
                        font-size: 20px;
                        color: $rojo;
                       // grid-row: 3;
                        //margin: auto;
                        
                    }
    
                    .saludablesContainer__productos--boton {
    
                        justify-content: center;
                        //grid-row: 4;
                        margin: auto;
                        button {
                            font-size: 20px;
                            padding: 16px;
                            
                            
                            text-transform: uppercase;
                            font-family: 'Barlow Condensed', sans-serif;
                            border-color: $anaranjado;
    
                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
    
            .saludablesContainer__primeraFila {
                padding-bottom: 0;
            }
    
    
    
    
        }
    }



    


        



    .combos__saludables {
        font-size: 12.8px;
        display: flex;
        flex-direction: column;
        text-align: center;

        h2 {
            padding-bottom: 16px;
        }

        button {
            font-size: 20px;
            padding: 15px;
            border-color: $anaranjado;
        }
    }

























}