.saladosContainer {
    padding-top: var(--padding-top);
    /*Para que la info no quede debajo de la navBar */
    display: grid;
    grid-template-columns: 15% 85%;


    .saladosContainer__barraIzquierda {
        grid-column: 1;
        padding-top: 50px;
        padding-left: 20px;
        background-color: $beige;
        

        ul {
            list-style: none;
            line-height: 40px;
            font-size: 20px;
        
        }
    }

    .saladosContainer__productos {

        img {
            width: 100%;

        }
        .imagen230{
            width: 230px;
        }
        .imagen170{
            width: 170px;
            // margin-top: 13px;
            padding-top: 10px;
        }
        .imagen160{
            width: 160px;
            padding-top: 10px;
            
        }

        .saladosContainer__primeraFila,
        .saladosContainer__segundaFila {

            grid-column: 2;
            display: flex;
            justify-content: space-evenly;
            padding: 50px 10px 40px 10px;


            .saladosContainer__productos--item {
                @extend .propiedades-productos-items;
                display: grid;
                grid-template-rows: 40% 20% 10% 30%;
                a{
                    grid-row: 1;
                    text-decoration: none;
                    color: black;
                    img{
                        height: 222px;
                    }
                }
                h2 {
                    font-size: 25px;
                    grid-row: 2;
                    text-transform: capitalize;
                    padding: 20px 12px 0px;
                    margin: 0;
                    
                }

                p {
                    font-size: 20px;
                    color: $rojo;
                    grid-row: 3;
                }

                .saladosContainer__productos--boton {
                    justify-content: center;
                    grid-row: 4;
                    margin: auto;

                    button {
                        font-size: 20px;
                        padding: 16px;
                        background-color: $anaranjado;
                        border-radius: var(--radio-border);
                        border: 0px;
                        cursor: pointer;
                        text-transform: uppercase;
                        font-family: 'Barlow Condensed', sans-serif;
                        border-color: $anaranjado;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }

        .saladosContainer__primeraFila {
            padding-bottom: 0;
        }




    }
}